{% extends "base.html" %}
{% load title_tags %}


{% block search %}

    <form method="GET" action="." class="form-inline mt-3">
        <div class="input-group mb-3">
            <input name="title" type="text" class="form-control" placeholder="Article title" aria-label="Article title"
                aria-describedby="basic-addon2">
            <div class="input-group-append">
                <Button type="submit" class="btn btn-dark border border-light" id="basic-addon2">Search</button>
            </div>
        </div>
    </form>

{% endblock search %}


{% block content %}
<div class="mt-5 py-5">

    {% if page_obj %}
    <nav aria-label="Page navigation example">
        <ul class="pagination mt-5 py-2">

            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link text-muted"
                    href="?page={{ page_obj.previous_page_number }}">
                    Previous
                </a>
            </li>
            {% endif %}

            <li class="page-item">
                <a class="page-link text-muted"
                    href="?page={{ page_obj.current }}">
                    {{ page_obj.number }}
                </a>
            </li>

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link text-muted" href="?page={{ page_obj.next_page_number }}">
                    Next
                </a>
            </li>
            {% endif %}
        
            <li class="page-item ml-5 align-self-center">
                Result total: {{ object_list.count }} | Total count: {{ total_count }}
            </li>

        </ul>
    </nav>
    {% endif %}

    {% for item in object_list %}
    <div class="card mt-4">

        <a href="{{ item.link }}" target="_blank" class="text-muted">
            <div class="card-header" style="background:rgb(33, 39, 39); color:whitesmoke">
                <strong style="font-size:20px">{{ item.title|title|capfirst }}</strong>
            </div>
        </a>

        <div class="card-body" style="background: rgb(247, 247, 247);">
            <blockquote class="blockquote mb-0">
                <p>{{ item.title|description|capfirst }}</p>
                <footer class="blockquote-footer"><cite>{{ item.publish_date }}</cite></footer>
            </blockquote>
        </div>

    </div>
    {% endfor %}

    {% if page_obj %}
    <nav aria-label="Page navigation example" style="float:center">
        <ul class="pagination justify-content-center mt-5 py-2">

            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link text-muted"
                    href="?page={{ page_obj.previous_page_number }}">
                    Previous
                </a>
            </li>
            {% endif %}

            <li class="page-item">
                <a class="page-link text-muted"
                    href="?page={{ page_obj.current }}">
                    {{ page_obj.number }}
                </a>
            </li>

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link text-muted" href="?page={{ page_obj.next_page_number }}">
                    Next
                </a>
            </li>
            {% endif %}

        </ul>
    </nav>
    {% endif %}

<div>
{% endblock content %}